.comments {
    &-figure {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &__text {
            width: 770px;
            margin-bottom: 52px;
            position: relative;
            font: 16px $font-play;
            line-height: 1.63;
            letter-spacing: 0.4px;
            color: $color-ten;

            &::before {
                content: "\201C";
                position: absolute;
                top: -120px;
                left: 50%;
                transform: translateX(-50%);
                font: 100px $font-play;
                color: $color-ten;
            }
        }
    }
}