.expertise {    
    .heading__text--dark {
        position: relative;
        opacity: 0.75;
    
        &::after {
            content: "";
            height: 2px;
            width: 50px;
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            opacity: 0.3;
            background-color: $color-third;
        }
    }
    
    .expertise__list {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        
    
        .expertise-item {
            width: 300px;
            padding: 30px 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
            &:nth-child(3n+2) {
                border-left: 1px solid rgba(0, 0, 0, .1);
                border-right: 1px solid rgba(0, 0, 0, .1);
            }
    
            &:nth-child(n+4) {
                border-top: 1px solid rgba(0, 0, 0, .1);
            }
    
            .expertise-item__img {
                height: 50px;
                width: 50px;
                margin-bottom: 35px;
            }
    
            h4 {
                font: 900 14px $font-roboto;
                letter-spacing: 0.7px;
                color: $color-third;
            }
    
            p {
                text-align: center;
                font: 300 14px $font-roboto;
                letter-spacing: 0.7px;
                color: $color-fourth;
            }
        }
    }
}