.feedback-client__container {
    display: flex;
    justify-content: space-between;

    .feedback {
        width: 460px;

        .feedback__form {
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            input, textarea {
                box-sizing: border-box;

                &:not(:last-child) {
                    width: 100%;
                    margin-bottom: 22px;
                    font: 300 14px $font-roboto;
                    border: 1px solid rgba(0, 0, 0, .1);
                    color: black;

                    &::placeholder {
                        color: $color-eleven;
                    }
                }
            }

            input {
                &:not(:last-child) {
                    padding: 12px 0 12px 20px;
                }
            }

            textarea {
                height: 200px;
                padding: 12px 0 0 20px;
                resize: none;
            }
        }
    }

    .client {
        width: 382px;

        &-list {
            margin-top: 35px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            &__item {
                width: 162px;
                margin-bottom: 47px;
            
                img {
                    margin: 0 auto;
                    display: block;
                    object-fit: contain;
                }
            }
        }
    }
}