footer {
    background: linear-gradient($color-background), url("../../../img/footer-background.jpg") no-repeat center;
    background-size: cover;

    .footer-top {
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo-info {
            max-width: 283px;
        }

        &__our-studio {
            max-width: 267px;
        }

        &__subscribe {
            max-width: 291px;

            .subscribe {
                margin-bottom: 27px;
                display: flex;

                &__input {
                    margin-right: 10px;
                    padding: 12px 26px 12px 16px;
                    flex-shrink: 0;
                    font: 300 14px $font-roboto;
                    letter-spacing: 0.7px;
                    border: 1px solid rgba(255, 255, 255, 0.75);
                    background: transparent;
                    color: white;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }

                &__button {
                    height: 45px;
                    width: 70px;
                    opacity: 0.5;
                    background: url("../../../img/paper-122.png") no-repeat center;
                    background-color: $color-second;
                    cursor: pointer;
                }
            }
            
            .social {
                width: 251px;
                display: flex;
                justify-content: space-between;

                li {
                    height: 35px;
                    width: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $color-second;
                    border-radius: 35px;
                    color: $color-second;

                    a {
                        color: inherit;
                    }
                }
            }
        }

        h5 {
            font: 900 15px $font-roboto;
            color: $color-second;
        }

        &__text {
            padding-bottom: 20px;
            font: 300 14px $font-roboto;
            letter-spacing: 0.35px;
            line-height: 1.86;
            color: $color-second;
        }
    }
    
    .footer-bottom {
        display: flex;
        justify-content: space-between;

        a, span {
            font: 14px $font-roboto;
            letter-spacing: 0.35px;
            color: $color-second;
        }

        &__list {
            width: 305px;
            display: flex;
            justify-content: space-between;
        }
    }
}