.hero {
    .header {
        display: flex;
        justify-content: space-between;
    
        .nav {
            width: 526px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            &__item {
                color: $color-second;

                a {
                    font: 900 13px $font-roboto;
                    letter-spacing: 0.33px;
                    text-transform: uppercase;
                    color: inherit;
                }

                &:hover {
                    color: $color-main;
                }
            }
        }
    }

    .welcome {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            position: relative;
            font: 900 32px $font-play;
            letter-spacing: 0.32px;
            color: $color-second;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -20px;
                transform: translateX(-50%);
                height: 1px;
                width: 50px;
                background-color: $color-main;
            }
        }

        &__text {
            max-width: 780px;
            margin-bottom: 50px;
            font: 14px/24px $font-roboto;
            text-align: center;
            line-height: 1.71;
            letter-spacing: 0.7px;
            opacity: 0.75;
            color: $color-second;
        }

        &__botton {
            margin-bottom: 130px;
        }
        
        &__slider {
            width: 60px;
            padding: 0;
            display: flex;
            justify-content: space-between;

            li {
                height: 10px;
                width: 10px;
                border: 1px solid $color-second;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    border: 1px solid $color-main;
                    background-color: $color-main;
                }
            }
        }
    }
}