.our-works {
    .heading--space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading__link {
            position: relative;
            font: 300 14px $font-roboto;
            letter-spacing: 0.7px;
            color: $color-third;

            &::after {
                height: 13px;
                width: 8px;
                content: "";
                position: absolute;
                right: -20px;
                top: 2px;
                background-image: url(../../../img/right-arrow@2x.png);
                background-size: cover;
            }
        }
    }

    .our-work-list {
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: (100% / 6);
            box-sizing: border-box;
      
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .button-main--center {
        margin: 0 auto;
        display: block;
    }
}