.our-team {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .heading__text--light {
        position: relative;
        color: $color-fifth;
    
        &::after {
            content: "";
            height: 2px;
            width: 50px;
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            opacity: 0.2;
            background-color: $color-fifth;
        }
    }

    &__figure-wrap {
        width: 100%;
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;

        .team-figure {
            box-sizing: border-box;
            border: 1px solid $color-six;

            img {
                height: 229px;
                width: 220px;
            }

            figcaption {
                padding-bottom: 28px;
                text-align: center;
            }
        }
    }

    &__text {
        margin-bottom: 26px;
        font: 300 14px $font-roboto;
        letter-spacing: 0.7px;
        color: $color-eight;
    }
}