.our-story__container {
    display: flex;
    justify-content: space-between;

    .our-story__img {
        height: 229px;
        width: 235px;
        margin-left: 65px;
    }

    .our-story__article {
        max-width: 530px;
    }
}