.watch {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient($color-background), url("../../../img/watch__back.jpg") no-repeat center;
    background-size: cover;

    &__img {
        height: 100px;
        width: 100px;
        margin-bottom: 34px;
        cursor: pointer;
    }

    span {
        font: 900 16px $font-roboto;
        color: $color-second;
    }
}