ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.section-background {
    height: 100vh;
    background: linear-gradient($color-background), url("../../../img/back-main.jpg") no-repeat center;
    background-size: cover;
}

.container {
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
    box-sizing: border-box;

    &--padding-top-bottom {
        padding: 70px 0;
    }
}

.logo {
    height: 50px;
    width: 128px;
    box-sizing: border-box;
    overflow: hidden;
}

.button-main {
    padding: 10px 27px;
    font: 16px $font-hammer;
    background-color: transparent;
    border: 1px solid $color-main;
    border-radius: 2px;
    color: $color-main;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.heading {
    &__title {
        font: bold 22px $font-play;
        letter-spacing: 1.1px;
        line-height: 0.9;

        &--dark {
            color: $color-third;
        }

        &--light {
            color: $color-second;
        }
    }

    &__text {
        margin-bottom: 68px;
        font: 14px $font-play;
        letter-spacing: 1.05px;
    }

    &--center {
        text-align: center;
    }
}


.text {
    font: 300 14px $font-roboto;
    letter-spacing: 0.42px;
    line-height: 1.57;
    color: $color-fourth;

    &--margin-b {
        margin-bottom: 30px;
    }
}

figure {
    margin: 0;
}

.member-name {
    margin-bottom: 12px;
    font: 900 14px $font-roboto;
    letter-spacing: 0.7px;
    color: $color-second;
}

.member-position {
    font: 300 13px $font-roboto;
    color: $color-seven;
}