$color-main: #00e0d0;
$color-second: #ffffff;
$color-third: #413d4b;
$color-fourth: rgba(65, 61, 75, 0.75);
$color-fifth: #f9f9f9;
$color-six: rgba(225, 225, 225, 1);
$color-seven: rgba(250, 250, 250, 0.7);
$color-eight: #f3f3f3;
$color-ten: rgba(255, 255, 255, 0.85);
$color-eleven: rgba(65, 61, 75, 0.5);

$color-background: to right, rgba(9, 5, 47, .85), rgba(49, 29, 94, .85);

$font-play: 'Playfair Display', serif;
$font-roboto: 'Roboto', sans-serif;
$font-hammer: 'Hammersmith One', sans-serif;

