@import "base/_var";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

@import "base/_common";

@import "layout/_hero";
@import "layout/_our-story";
@import "layout/_watch";
@import "layout/_expertise";
@import "layout/_our-team";
@import "layout/_our-works";
@import "layout/_comments";
@import "layout/_feedback-client";
@import "layout/_footer";