@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section-background {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85))), url("../../../img/back-main.jpg") no-repeat center;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../../../img/back-main.jpg") no-repeat center;
  background-size: cover;
}

.container {
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container--padding-top-bottom {
  padding: 70px 0;
}

.logo {
  height: 50px;
  width: 128px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.button-main {
  padding: 10px 27px;
  font: 16px "Hammersmith One", sans-serif;
  background-color: transparent;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  color: #00e0d0;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.heading__title {
  font: bold 22px "Playfair Display", serif;
  letter-spacing: 1.1px;
  line-height: 0.9;
}

.heading__title--dark {
  color: #413d4b;
}

.heading__title--light {
  color: #ffffff;
}

.heading__text {
  margin-bottom: 68px;
  font: 14px "Playfair Display", serif;
  letter-spacing: 1.05px;
}

.heading--center {
  text-align: center;
}

.text {
  font: 300 14px "Roboto", sans-serif;
  letter-spacing: 0.42px;
  line-height: 1.57;
  color: rgba(65, 61, 75, 0.75);
}

.text--margin-b {
  margin-bottom: 30px;
}

figure {
  margin: 0;
}

.member-name {
  margin-bottom: 12px;
  font: 900 14px "Roboto", sans-serif;
  letter-spacing: 0.7px;
  color: #ffffff;
}

.member-position {
  font: 300 13px "Roboto", sans-serif;
  color: rgba(250, 250, 250, 0.7);
}

.hero .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .header .nav {
  width: 526px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .header .nav__item {
  color: #ffffff;
}

.hero .header .nav__item a {
  font: 900 13px "Roboto", sans-serif;
  letter-spacing: 0.33px;
  text-transform: uppercase;
  color: inherit;
}

.hero .header .nav__item:hover {
  color: #00e0d0;
}

.hero .welcome {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .welcome__title {
  position: relative;
  font: 900 32px "Playfair Display", serif;
  letter-spacing: 0.32px;
  color: #ffffff;
}

.hero .welcome__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 50px;
  background-color: #00e0d0;
}

.hero .welcome__text {
  max-width: 780px;
  margin-bottom: 50px;
  font: 14px/24px "Roboto", sans-serif;
  text-align: center;
  line-height: 1.71;
  letter-spacing: 0.7px;
  opacity: 0.75;
  color: #ffffff;
}

.hero .welcome__botton {
  margin-bottom: 130px;
}

.hero .welcome__slider {
  width: 60px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .welcome__slider li {
  height: 10px;
  width: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.hero .welcome__slider li:hover {
  border: 1px solid #00e0d0;
  background-color: #00e0d0;
}

.our-story__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-story__container .our-story__img {
  height: 229px;
  width: 235px;
  margin-left: 65px;
}

.our-story__container .our-story__article {
  max-width: 530px;
}

.watch {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85))), url("../../../img/watch__back.jpg") no-repeat center;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../../../img/watch__back.jpg") no-repeat center;
  background-size: cover;
}

.watch__img {
  height: 100px;
  width: 100px;
  margin-bottom: 34px;
  cursor: pointer;
}

.watch span {
  font: 900 16px "Roboto", sans-serif;
  color: #ffffff;
}

.expertise .heading__text--dark {
  position: relative;
  opacity: 0.75;
}

.expertise .heading__text--dark::after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.3;
  background-color: #413d4b;
}

.expertise .expertise__list {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.expertise .expertise__list .expertise-item {
  width: 300px;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.expertise .expertise__list .expertise-item:nth-child(3n+2) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.expertise .expertise__list .expertise-item:nth-child(n+4) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.expertise .expertise__list .expertise-item .expertise-item__img {
  height: 50px;
  width: 50px;
  margin-bottom: 35px;
}

.expertise .expertise__list .expertise-item h4 {
  font: 900 14px "Roboto", sans-serif;
  letter-spacing: 0.7px;
  color: #413d4b;
}

.expertise .expertise__list .expertise-item p {
  text-align: center;
  font: 300 14px "Roboto", sans-serif;
  letter-spacing: 0.7px;
  color: rgba(65, 61, 75, 0.75);
}

.our-team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.our-team .heading__text--light {
  position: relative;
  color: #f9f9f9;
}

.our-team .heading__text--light::after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.2;
  background-color: #f9f9f9;
}

.our-team__figure-wrap {
  width: 100%;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team__figure-wrap .team-figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e1e1e1;
}

.our-team__figure-wrap .team-figure img {
  height: 229px;
  width: 220px;
}

.our-team__figure-wrap .team-figure figcaption {
  padding-bottom: 28px;
  text-align: center;
}

.our-team__text {
  margin-bottom: 26px;
  font: 300 14px "Roboto", sans-serif;
  letter-spacing: 0.7px;
  color: #f3f3f3;
}

.our-works .heading--space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-works .heading--space-between .heading__link {
  position: relative;
  font: 300 14px "Roboto", sans-serif;
  letter-spacing: 0.7px;
  color: #413d4b;
}

.our-works .heading--space-between .heading__link::after {
  height: 13px;
  width: 8px;
  content: "";
  position: absolute;
  right: -20px;
  top: 2px;
  background-image: url(../../../img/right-arrow@2x.png);
  background-size: cover;
}

.our-works .our-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-works .our-work-list__item {
  width: 16.66667%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-works .our-work-list__item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-works .button-main--center {
  margin: 0 auto;
  display: block;
}

.comments-figure {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.comments-figure__text {
  width: 770px;
  margin-bottom: 52px;
  position: relative;
  font: 16px "Playfair Display", serif;
  line-height: 1.63;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.85);
}

.comments-figure__text::before {
  content: "\201C";
  position: absolute;
  top: -120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font: 100px "Playfair Display", serif;
  color: rgba(255, 255, 255, 0.85);
}

.feedback-client__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-client__container .feedback {
  width: 460px;
}

.feedback-client__container .feedback .feedback__form {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback-client__container .feedback .feedback__form input, .feedback-client__container .feedback .feedback__form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback-client__container .feedback .feedback__form input:not(:last-child), .feedback-client__container .feedback .feedback__form textarea:not(:last-child) {
  width: 100%;
  margin-bottom: 22px;
  font: 300 14px "Roboto", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
}

.feedback-client__container .feedback .feedback__form input:not(:last-child)::-webkit-input-placeholder, .feedback-client__container .feedback .feedback__form textarea:not(:last-child)::-webkit-input-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

.feedback-client__container .feedback .feedback__form input:not(:last-child):-ms-input-placeholder, .feedback-client__container .feedback .feedback__form textarea:not(:last-child):-ms-input-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

.feedback-client__container .feedback .feedback__form input:not(:last-child)::-ms-input-placeholder, .feedback-client__container .feedback .feedback__form textarea:not(:last-child)::-ms-input-placeholder {
  color: rgba(65, 61, 75, 0.5);
}

.feedback-client__container .feedback .feedback__form input:not(:last-child)::placeholder, .feedback-client__container .feedback .feedback__form textarea:not(:last-child)::placeholder {
  color: rgba(65, 61, 75, 0.5);
}

.feedback-client__container .feedback .feedback__form input:not(:last-child) {
  padding: 12px 0 12px 20px;
}

.feedback-client__container .feedback .feedback__form textarea {
  height: 200px;
  padding: 12px 0 0 20px;
  resize: none;
}

.feedback-client__container .client {
  width: 382px;
}

.feedback-client__container .client-list {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-client__container .client-list__item {
  width: 162px;
  margin-bottom: 47px;
}

.feedback-client__container .client-list__item img {
  margin: 0 auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85))), url("../../../img/footer-background.jpg") no-repeat center;
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../../../img/footer-background.jpg") no-repeat center;
  background-size: cover;
}

footer .footer-top {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top__logo-info {
  max-width: 283px;
}

footer .footer-top__our-studio {
  max-width: 267px;
}

footer .footer-top__subscribe {
  max-width: 291px;
}

footer .footer-top__subscribe .subscribe {
  margin-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top__subscribe .subscribe__input {
  margin-right: 10px;
  padding: 12px 26px 12px 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font: 300 14px "Roboto", sans-serif;
  letter-spacing: 0.7px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background: transparent;
  color: white;
}

footer .footer-top__subscribe .subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

footer .footer-top__subscribe .subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

footer .footer-top__subscribe .subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

footer .footer-top__subscribe .subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

footer .footer-top__subscribe .subscribe__button {
  height: 45px;
  width: 70px;
  opacity: 0.5;
  background: url("../../../img/paper-122.png") no-repeat center;
  background-color: #ffffff;
  cursor: pointer;
}

footer .footer-top__subscribe .social {
  width: 251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-top__subscribe .social li {
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  border-radius: 35px;
  color: #ffffff;
}

footer .footer-top__subscribe .social li a {
  color: inherit;
}

footer .footer-top h5 {
  font: 900 15px "Roboto", sans-serif;
  color: #ffffff;
}

footer .footer-top__text {
  padding-bottom: 20px;
  font: 300 14px "Roboto", sans-serif;
  letter-spacing: 0.35px;
  line-height: 1.86;
  color: #ffffff;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bottom a, footer .footer-bottom span {
  font: 14px "Roboto", sans-serif;
  letter-spacing: 0.35px;
  color: #ffffff;
}

footer .footer-bottom__list {
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
